*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/assets/img/tim-toomey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
}

.shade
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #000F36 0%, 40%,transparent);
    z-index: -1000;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 30px;
}

main > *
{
    margin-bottom: 10px;
}

h1
{
    text-align: center;
    width: 310px;
    margin-bottom: 30px;
}

.signup-btn, .signin-btn
{
    border-radius: 23px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
}

.signup-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: clamp(300px, 330px, 400px);
    height: 45px;
}

.signup-btn img
{
    position: absolute;
    left: 30px;
}

// Give background color to all buttons
$btn-color:
(
    facebook: #0038FF,
    twitter: #0070F3,
    phone: #000F36,
    google: #FFF
);

@each $btn, $color in $btn-color
{
    .signup-btn.#{$btn}
    {
        background-color: $color;
        @if $btn == google
        {
            color: black;
        }
        @if $btn == phone
        {
            border: 4px solid #FFF;
        }
    }
}

.signin-btn
{
    background-color: map-get($btn-color, phone);
    border: 1px solid #FFF;
    margin-top: 15px;
    width: clamp(60px, 80px, 95px);
    height: 28px;
}