$info-bg-color: #E4E4E4;
$band-color: #555555;
$border-radius: 25px;


.music-card
{
    margin-right: 25px;
    border-radius: $border-radius;
    border: 2px solid black;
    width: 174px;
    height: 210px;

    .music-img
    {
        width: 100%;
        height: 74%;
        border-bottom: 1px solid black;
        
        img
        {
            width: 100%;
            height: 100%;
            border-radius: $border-radius $border-radius 0 0;
        }
    }

    .music-info
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: calc(100% - 74%);
        border-radius: 0 0 $border-radius $border-radius;
        padding: 10px;
        background-color: $info-bg-color;
        color: black;
    
        > div
        {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .music-title
            {
                font-weight: 700;
                font-size: 15px;
            }

            .music-band
            {
                font-size: 13px;
                font-weight: 600;
                color: $band-color;
            }
        }

        .circle-play
        {
            cursor: pointer;
        }
    }
}
