$input-bg-color: #E6E6E6;
$text-color: #8A8A8A;
$submit-bg-color: #E4E4E4;

.search-input
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 330px;
    height: 45px;
    padding: 20px;
    background-color: $input-bg-color;
    color: $text-color;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 1px #3331;
    cursor: text;

    input
    {
        width: 100%;
        margin-right: auto;
        background: none;
        border: none;   
    }
    
}

label[for="srch-inpt"] ~ input[type="submit"]
{
    width: 93px;
    height: 30px;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 25px;
    cursor: pointer;
}